<h1>Editing sale medium</h1>

<%= render "form", sale_medium: @sale_medium %>

<br>

<div>
  <%= link_to "Show this sale medium", @sale_medium %> |
  <%= link_to "Back to sale media", sale_media_path %>
</div>
