<h1>Editing combination</h1>

<%= render "form", combination: @combination %>

<br>

<div>
  <%= link_to "Show this combination", @combination %> |
  <%= link_to "Back to combinations", combinations_path %>
</div>
