<p style="color: green"><%= notice %></p>

<h1>Combinations</h1>

<div id="combinations">
  <% @combinations.each do |combination| %>
    <%= render combination %>
    <p>
      <%= link_to "Show this combination", combination %>
    </p>
  <% end %>
</div>

<%= link_to "New combination", new_combination_path %>
