<h1>Editing product option type value</h1>

<%= render "form", product_option_type_value: @product_option_type_value %>

<br>

<div>
  <%= link_to "Show this product option type value", @product_option_type_value %> |
  <%= link_to "Back to product option type values", product_option_type_values_path %>
</div>
