<h1>New product option type value</h1>

<%= render "form", product_option_type_value: @product_option_type_value %>

<br>

<div>
  <%= link_to "Back to product option type values", product_option_type_values_path %>
</div>
