<h1>Editing option value</h1>

<%= render "form", option_value: @option_value %>

<br>

<div>
  <%= link_to "Show this option value", @option_value %> |
  <%= link_to "Back to option values", option_values_path %>
</div>
