<h1>Editing listing type</h1>

<%= render "form", listing_type: @listing_type %>

<br>

<div>
  <%= link_to "Show this listing type", @listing_type %> |
  <%= link_to "Back to listing types", listing_types_path %>
</div>
