<h1>Editing shop location</h1>

<%= render "form", shop_location: @shop_location %>

<br>

<div>
  <%= link_to "Show this shop location", @shop_location %> |
  <%= link_to "Back to shop locations", shop_locations_path %>
</div>
