<h1>Editing option value variant</h1>

<%= render "form", option_value_variant: @option_value_variant %>

<br>

<div>
  <%= link_to "Show this option value variant", @option_value_variant %> |
  <%= link_to "Back to option value variants", option_value_variants_path %>
</div>
