<div id="<%= dom_id product_option %>">
  <p>
    <strong>Product option name:</strong>
    <%= product_option.product_option_name %>
  </p>

  <p>
    <strong>Product option values:</strong>
    <%= product_option.product_option_values %>
  </p>

</div>
