<div class="product-options-wrapper" data-new-record="<%= f.object.new_record? %>">
  
  <%= f.select :name, options_for_select(OptionValueSet.all.map { |ov| [ov.value, ov.value] }, selected: f.object.name), { include_hidden: false }, class: 'product-option-value-select form-control select2', id: 'product-option-value-select', multiple: true %>
  
</div>
