<!--products/product_option_field.html.erb-->
<div class="product-options-wrapper" data-new-record="<%= f.object.new_record? %>">
    <%#= f.label :product_option_name %>
    <%= f.text_field :product_option_name,:placeholder=> "Enter option" %>
    <%#= f.label :product_option_values %>
    <%= f.text_field :product_option_values,:multiple => true,:placeholder=> "Enter options seperated by comma"%>
  
    <button type="button" data-action="product-options#remove">Remove option</button>
  
    <%= f.hidden_field :_destroy %>
    
</div>