<!-- _variants.html.erb -->

<% if combinations.present? %>
  <h2>Variants</h2>
  <ul>
    <% combinations.each_with_index do |combination, index| %>
      <li>
        <strong>Variant <%= index + 1 %>:</strong> <%= combination %>
        <%= text_field_tag "product[variant_attributes][#{index}][sku]", '', placeholder: 'SKU' %>
        <%= text_field_tag "product[variant_attributes][#{index}][price]", '', placeholder: 'price' %>
        
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No variants available</p>
<% end %>
