<!-- products/_variants.html.erb -->
<div id="variants-container">
  <% if combinations.present?%>
    <% combinations.each do |combination| %>
      <div class="variant">
        Combination: <%= combination %>
          
    
      </div>
    <% end %>
  <% end %>
</div>