<!-- products/_variants.html.erb -->

<table>
  <thead>
    <tr>
      <th>Combination</th>
      <th>SKU</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% combinations.each do |combination| %>
      <tr>
        <td>
          <% combination[:values].each do |option_name, option_value| %>
            <strong><%= option_value %></strong><br>
          <% end %>
        </td>
        <td>
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
