<!---products/_variants.html.erb-->>
<% if variants.any? %>
  <h2>Variants:</h2>
  <ul>
    <% variants.each_with_index do |variant, index| %>
      <li>
        <% variant.each do |key, value| %>
          <% if key == 'sku' || key == 'price' %>
            <strong><%= key.capitalize %>:</strong>
            <%= text_field_tag "product[variants_attributes][#{index}][#{key}]", value %><br>
          <% else %>
            <strong><%= key.capitalize %>:</strong> <%= value %><br>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No variants available.</p>
<% end %>
