<h1>Editing product</h1>

<%= render "form", product: @product %>
<!-- Display and edit variant attributes -->
 

<div>
  <%= link_to "Show this product", @product %> |
  <%= link_to "Back to products", products_path %>
</div>
