<h1>Editing option type set</h1>

<%= render "form", option_type_set: @option_type_set %>

<br>

<div>
  <%= link_to "Show this option type set", @option_type_set %> |
  <%= link_to "Back to option type sets", option_type_sets_path %>
</div>
