<h1>Editing option value set</h1>

<%= render "form", option_value_set: @option_value_set %>

<br>

<div>
  <%= link_to "Show this option value set", @option_value_set %> |
  <%= link_to "Back to option value sets", option_value_sets_path %>
</div>
